ubus_user: root
ubus_password: toor
filter_option: allow
ssids:
        - WiFi-5.0-B88B
        - WiFi-2.4-B88B
devices:
        - 192.168.2.1
        - 192.168.2.102
        - 192.168.2.103
allowed_macs:
        # My smartphone
        - 30:07:4D:00:00:01
        # Wife's smartphone
        - 30:07:4D:00:00:02
